@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/* menu inicio */
.logo-img {
    width: 40px;
    height: 40px;
}
body {
    padding-top: 100px; /* Ajusta este valor según la altura de tu header para evitar que el contenido quede detrás */
}

header {
    position: fixed; /* Fijo en la parte superior */
    top: 0; /* Alineado al borde superior */
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    z-index: 1000; /* Para asegurarte de que el header esté encima de otros elementos */
    background-color: rgb(176, 236, 250); /* El color de fondo del header */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una pequeña sombra para que el header destaque */
}

header img{
    border-radius: 50%; /* Convierte la imagen en un círculo */
    object-fit: cover; 
}

.project-name {
    font-size: 24px;
    font-weight: bold;
}

/* Estilos para enlaces activos */
.nav-link.active {
    font-weight: bold;
    color: #ff0000; /* Color del enlace activo */
}

.nav-link:hover {
    color: #007bff; /* Color al pasar el ratón */
}
/* menu fin */


/* conten1 */
.contenedor1 .caja1 {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: center;
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
    margin-top: 5rem;
}
.contenedor1 .caja1 h1{
    margin-top: 2rem;
    font-size: 70px;
    font-family: "Bangers", system-ui;
}
.contenedor1 .caja1 img{
    width: 250px; /* Ajusta el tamaño según sea necesario */
    height: 250px; /* Debe ser igual al ancho */
    border-radius: 50%; /* Convierte la imagen en un círculo */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsión */
}
.contenedor1 .text-prin{
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: center;
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
    margin-top: 2rem;
    margin-bottom: 8rem;
}
.contenedor1 .text-prin .boton-cv{
    border: none;
    text-decoration: none;
    padding: 15px 70px;
    border-radius: 40px;
    font-family: monospace;
    background: #b0ecfa;
    color: black;
    transition:0.3s;
}
.contenedor1 .text-prin .boton-cv:hover{
    transform: scale(1.1);
    box-shadow: 0px 5px 10px 5px #b0ecfa;
    background: black;
    color: white;
}

@media (max-width: 767px) {
    .caja1 h1{
        font-size: 60px !important;
    }
    @media (max-width: 550px){
        .caja1 h1{
            font-size: 50px !important;
        }
    }
}
/* FIN CONTEN 1 */

/* INICIO CONTEN 2 */

.contenedor2 .caja2{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row-reverse;
}
.contenedor2 .proyec-titulo h1{
    font-size: 45px;
    font-weight: bold;
}
.contenedor2 .proyec-titulo{
    margin-bottom: 9rem;
}
.contenedor2 .proyec-caja{
    margin-bottom: 100px;
}
.contenedor2 .proyec-caja h5{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
}
.contenedor2 .proyec-caja p{
    font-size: 15px;
    font-family: auto;
    padding-bottom: 10px;
}
.contenedor2 .proyec-caja img{
    border-radius: 5px;
    width: 380px;
    height: 280px;
    box-shadow: -20px 16px 20px 0px black;
}

@media (max-width: 991px){
    .contenedor2 .proyec-titulo{
        margin-bottom: 5rem;
    }
    .contenedor2 .proyec-caja{
        margin-bottom: 40px;
        margin-top: 10px;
    }
    @media(max-width: 600px){
        .contenedor2 .proyec-caja img{
            width: 330px;
            height: 230px;
        }
    }
}
/* FIN CONTEN 2 */



/* CONTEN3 INCIO */
.contenedor3{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;  
    text-align: center; /* Centra el contenido dentro del div */
}

.contenedor3 .titulo-sec3 h1{
    font-size: 45px;
    font-weight: bold;
}
.contenedor3 .titulo-sec3{
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.contenedor3 .img-sec3{
    margin-bottom: 70px;
    margin-left: 5px;
    transition:0.3s;
    padding-top: 50px;
}
.contenedor3 .img-sec3:hover{
    transform: scale(1.2);

}

.contenedor3 .img-sec3 img{
    width: 423px;
    height: 300px;
    box-shadow: 0px 11px 9px -3px #b0ecfa;
    border-radius: 8px;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

@media (max-width: 991px){
    .contenedor3 .img-sec3 img{
        width: 430px;
    }
    @media(max-width: 600px){
        .contenedor3 .img-sec3 img{
            width: 380px;
            transition:none;
        }
        .contenedor3 .img-sec3:hover{
            transform: none;
        
        }
        
    }
}

/*CONTEN3 FIN*/


footer{
    background: rgb(176, 236, 250);
}